<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
	<link href="css/svn.css" rel="stylesheet">
	<title>SVN Display</title>
</head>
<body>
	<div class="container">
		<div class="page-header">
			<h1>Subversion Monitored URLs</h1>
			<select id="urlDropdown" class="form-control">
				<option></option>
			</select>
		</div>
		<h5>Last Revision: <small><span id="lastRev"></span></small></h5>
		<h5>Author(s): <small><span id="author"></span></small></h5>
		<hr>
		<div class="row">
			<div class="col-md-12">
				<h4>Last<span id="lastCount"></span> revision(s):  <button id="expand" type="button" class="btn btn-default btn-xs">Expand All</button></ul></h4>
				<div id="display" class="panel-group" id="accordion">
				</div>
				<div id="messageBox"></div>
			</div>
			<hr>
		</div>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
		<script src='js/display.js'></script>	
	</body>
	</html>
